.fillP1:after {
    content:"Synergistically evolve 2.0 technologies rather than just in time initiatives. Quickly deploy strategic networks with compelling e-business. Credibly pontificate highly efficient manufactured products and enabled data.";
}
.fillP2:after {
    content: "Incubate standards compliant channels before scalable benefits. Quickly disseminate superior deliverables whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change before vertical architectures.  Holistically foster superior methodologies without market-driven best practices.";
}
.fillP3:after {
    content: "Dynamically target high-payoff intellectual capital for customized technologies. Objectively integrate emerging core competencies before process-centric communities. Dramatically evisculate holistic innovation rather than client-centric data.";
}
.fillP4:after {
    content:"Collaboratively administrate turnkey channels whereas virtual e-tailers. Objectively seize scalable metrics whereas proactive e-services. Seamlessly empower fully researched growth strategies and interoperable internal or 'organic' sources.   High altitude/Low Open jump forward.   Objectively integrate emerging core competencies before process-centric communities. Dramatically evisculate holistic innovation rather  ";
}
.fillP5:after {
    content: "Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products. Going forward, in-house dynamics must respond to consumer sentiment and market trends.  Proactively fabricate one-to-one materials via effective e-business. Completely synergize scalable e-commerce rather than high standards in e-services. Assertively iterate resource maximizing products after leading-edge intellectual capital.";
}

.fillP6:after {
    content: "Promptly aggregate B2B users and worldwide potentialities. Progressively plagiarize resource-leveling e-commerce through resource-leveling core competencies. Dramatically mesh low-risk high-yield alignments before transparent e-tailers.  Credibly reintermediate backend ideas for cross-platform models. Continually mediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices.  Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices. Distinctively exploit optimal alignments for intuitive bandwidth. Adeptly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks processes.";
}
.fillP7:after {
    content: "Adeptly aggregate B2B users and worldwide potentialities. Progressively plagiarize resource-leveling e-commerce through resource-leveling core competencies. Dramatically mesh low-risk high-yield alignments before transparent e-tailers.  Credibly reintermediate backend ideas for cross-platform models. Continually mediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices.  Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices.  Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices.  Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices. Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks processes.";
}
.fillP8:after {
    content: "Timely aggregate B2B users and worldwide potentialities. Progressively plagiarize resource-leveling e-commerce through resource-leveling core competencies. Dramatically mesh low-risk high-yield alignments before transparent e-tailers.  Credibly reintermediate backend ideas for cross-platform models. Continually mediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices.  Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices. Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks processes.  Quickly aggregate B2B users and worldwide potentialities. Progressively plagiarize resource-leveling e-commerce through resource-leveling core competencies. Dramatically mesh low-risk high-yield alignments before transparent e-tailers.  Credibly reintermediate backend ideas for cross-platform models. Continually mediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices.  Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices. Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks processes.  Quickly aggregate B2B users and worldwide potentialities. Progressively plagiarize resource-leveling e-commerce through resource-leveling core competencies. Dramatically mesh low-risk high-yield alignments before transparent e-tailers.  Credibly reintermediate backend ideas for cross-platform models. Continually mediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices.  Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes through technically sound intellectual capital. Holistically foster superior methodologies without market-driven best practices. Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks processes.";
}

.fillH1-1:after{
    content: "Monetize";
}
.fillH1-2:after{
    content: "Core Competencies";
}
.fillH1-3:after{
    content: "Actualize adaptive benefits.";
}
.fillH1-4:after{
    content: "Seamlessly scale innovative products.";
}
.fillH1-5:after{
    content: "Intrinsicly productize standardized systems.";
}
.fillH1-6:after{
    content: "Professionally cultivate visionary mindshare end-games.";
}
.fillH1-7:after{
    content: "Synergistically leverage user friendly 'outside the box' thinking.";
}
.fillH1-8:after{
    content: "Leverage static competencies by scaling mindshare with user friendly techniques.";
}
.fillH2-1:after{
    content: "Monetize";
}
.fillH2-2:after{
    content: "Core Competencies";
}
.fillH2-3:after{
    content: "Actualize adaptive benefits.";
}
.fillH2-4:after{
    content: "Seamlessly scale innovative products.";
}
.fillH2-5:after{
    content: "Intrinsicly productize standardized systems.";
}
.fillH2-6:after{
    content: "Professionally cultivate visionary mindshare end-games.";
}
.fillH2-7:after{
    content: "Synergistically leverage user friendly 'outside the box' thinking.";
}
.fillH2-8:after{
    content: "Leverage static competencies by scaling mindshare with user friendly techniques.";
}
.fillH3-1:after{
    content: "Monetize";
}
.fillH3-2:after{
    content: "Core Competencies";
}
.fillH3-3:after{
    content: "Actualize adaptive benefits.";
}
.fillH3-4:after{
    content: "Seamlessly scale innovative products.";
}
.fillH3-5:after{
    content: "Intrinsicly productize standardized systems.";
}
.fillH3-6:after{
    content: "Professionally cultivate visionary mindshare end-games.";
}
.fillH3-7:after{
    content: "Synergistically leverage user friendly 'outside the box' thinking.";
}
.fillH3-8:after{
    content: "Leverage static competencies by scaling mindshare with user friendly techniques.";
}
.fillH4-1:after{
    content: "Monetize";
}
.fillH4-2:after{
    content: "Core Competencies";
}
.fillH4-3:after{
    content: "Actualize adaptive benefits.";
}
.fillH4-4:after{
    content: "Seamlessly scale innovative products.";
}
.fillH4-5:after{
    content: "Intrinsicly productize standardized systems.";
}
.fillH4-6:after{
    content: "Professionally cultivate visionary mindshare end-games.";
}
.fillH4-7:after{
    content: "Synergistically leverage user friendly 'outside the box' thinking.";
}
.fillH4-8:after{
    content: "Leverage static competencies by scaling mindshare with user friendly techniques.";
}
.fillH5-1:after{
    content: "Monetize";
}
.fillH5-2:after{
    content: "Core Competencies";
}
.fillH5-3:after{
    content: "Actualize adaptive benefits.";
}
.fillH5-4:after{
    content: "Seamlessly scale innovative products.";
}
.fillH5-5:after{
    content: "Intrinsicly productize standardized systems.";
}
.fillH5-6:after{
    content: "Professionally cultivate visionary mindshare end-games.";
}
.fillH5-7:after{
    content: "Synergistically leverage user friendly 'outside the box' thinking.";
}
.fillH5-8:after{
    content: "Leverage static competencies by scaling mindshare with user friendly techniques.";
}
.imgDark100:after{
    content: url('../img/dark100.jpg');
}
.imgDark250:after{
    content: url('../img/dark250.jpg');
}
.imgDark400:after{
    content: url('../img/dark400.jpg');
}
.imgDark600:after{
    content: url('../img/dark600.jpg');
}
.imgDark700:after{
    content: url('../img/dark700.jpg');
}
.imgDark800:after{
    content: url('../img/dark800.jpg');
}
.imgDark1000:after{
    content: url('../img/dark1000.jpg');
}
.imgDark1400:after{
    content: url('../img/dark1400.jpg');
}
.imgDark1800:after{
    content: url('../img/dark1800.jpg');
}


.imgLight100:after{
    content: url('../img/light100.jpg');
}
.imgLight250:after{
    content: url('../img/light250.jpg');
}
.imgLight400:after{
    content: url('../img/light400.jpg');
}
.imgLight600:after{
    content: url('../img/light600.jpg');
}
.imgLight700:after{
    content: url('../img/light700.jpg');
}
.imgLight800:after{
    content: url('../img/light800.jpg');
}
.imgLight1000:after{
    content: url('../img/light1000.jpg');
}
.imgLight1400:after{
    content: url('../img/light1400.jpg');
}
.imgLight1800:after{
    content: url('../img/light1800.jpg');
}


.imgBlue100:after{
    content: url('../img/blue100.jpg');
}
.imgBlue250:after{
    content: url('../img/blue250.jpg');
}
.imgBlue400:after{
    content: url('../img/blue400.jpg');
}
.imgBluek600:after{
    content: url('../img/blue600.jpg');
}
.imgBlue700:after{
    content: url('../img/blue700.jpg');
}
.imgBlue800:after{
    content: url('../img/blue800.jpg');
}
.imgBlue1000:after{
    content: url('../img/blue1000.jpg');
}
.imgBlue1400:after{
    content: url('../img/blue1800.jpg');
}

.transparentBg {
    background-image: url(../img/transparentBG.png);
}
.opaqueBlackBg {
    background-image: url(../img/opaqueBlack.png);
}

.pgLeft{
    src: url('../img/light100.jpg');
    z-index:222;
}
img .pgLeft::after{
    content:'$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$';
}
img .pgLeft::before{
    content:'$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$';
}

preloaderSm{
    content:url(../img/preloadSm.gif);
}
preloaderMd{
    content:url(../img/preloadMd.gif);
}
preloaderMd{
    content:url(../img/preloadLg.gif);
}
